<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ConferenController</servlet-name>
        <servlet-class>controller.ConferenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConferencistaController</servlet-name>
        <servlet-class>controller.ConferencistaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialController</servlet-name>
        <servlet-class>controller.MaterialController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConferenController</servlet-name>
        <url-pattern>/ConferenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConferencistaController</servlet-name>
        <url-pattern>/ConferencistaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialController</servlet-name>
        <url-pattern>/MaterialController</url-pattern>
    </servlet-mapping>
</web-app>
